<div class="card bg-dark">
    <div class="w-75 mt-5" style="margin: 0 auto;">
        <img src="./../../../assets/img/profile.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title mb-4 mt-3 text-white">
        {{ job }}</h5>
      <p class="card-text text-white">{{ textAboutMe }}</p>
      <div *ngFor="let path of navbarRoutes" class="col-12 text-center mt-5 mb-4">
          <button [routerLink]="path.path" href="#" class="btn btn-success">{{ path.text }}</button>
      </div>
    </div>
  </div>
