<div class="row">
    <div class="w-100 site-image">
        <div class="contenedor-inicio">
            <div class="title__container">
                <h4 class="text-center">Welcome to my website</h4>
            </div>
            <div>
                <h5 class="text-center text-white">I'm Matías Nicolás Michelli</h5>
            </div>
            <div>
                <h5 class="text-center text-white">Front end developer</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-xs-12 col-md-8 col-sm-12">
        <div class="alert text-center alert-danger center" role="alert">
            Open on mobile device !!!
          </div>
    </div>
</div>

<div class="row mt-4 mt-4">
    <div class="col-12 text-center">
        <p class="text-white">
            This web page is demonstrative and I used the Angular framework to make it,
            as a design library implement Bootstrap through your CDN. To be able to view it
            correctly you should open it on a mobile device since I have not implemented media
            queries with CSS.
        </p>
    </div>
</div>

<div class="card bg-dark mb-4 mt-4">
    <img src="./../../../assets/img/index1.png" class="card-img-top" alt="melborne">
    <div class="card-body">
      <h5 class="card-title text-white">Melborne City</h5>
      <p class="text-white">
        Melbourne es la capital costera del estado de Victoria, en el sureste de Australia. En el centro de
        la ciudad se encuentra el moderno desarrollo de Federation Square, con plazas, bares y restaurantes
        junto al río Yarra.</p>
      <p class="card-text"><small class="text-muted">Last updated 12 weeks ago.</small></p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body">
      <h5 class="card-title">Brisbane City</h5>
      <p class="card-text text-white">
        Brisbane, capital of Queensland, is a large city on the Brisbane River. Clustered in its South Bank
        cultural precinct are the Queensland Museum and Sciencentre, with noted interactive exhibitions. Another
        South Bank cultural institution is Queensland Gallery of Modern Art, among Australia's major contemporary
        art museums.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 months ago.</small></p>
    </div>
    <img src="./../../../assets/img/brisbane.png" class="card-img-bottom" alt="brisbane">
  </div>

  <div class="card bg-dark mb-4 mt-4">
    <img src="./../../../assets/img/perth.png" class="card-img-top" alt="perth">
    <div class="card-body">
      <h5 class="card-title text-white">Perth City</h5>
      <p class="text-white">
        Perth, capital of Western Australia, sits where the Swan River meets the southwest coast. Sandy beaches line
        its suburbs, and the huge, riverside Kings Park and Botanic Garden on Mount Eliza offer sweeping views of the city. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 hours ago.</small></p>
    </div>
  </div>
  





  
