<div class="row">
    <div class="col mt-2 mb-4">
        <h2 class="text-center text-white">My proyects</h2>
        <div class="barra-green"></div>
    </div>

    <div class="col-12">
        <p class="text-white">
            In this section I leave a series of my own projects made with Angular
            and web pages with HTML, CSS, SASS, Bootstrap and Javascript. In some free
            API consumption to be able to consume information dynamically. I also use
            npm's json-server as a local database. <br>
            Some of these are mobile responsive and some are not.
        </p>
    </div>
    <div class="barra"></div>

    <div class="col-12">
        <div class="container__proyect">
            <a target="_blank" href="https://matiasprofile.netlify.app/" class="text-white">
                Profile Web
            </a>
            <a target="_blank" href="https://calculador-peso-corporal.netlify.app/" class="text-white">
                Calculator BMI
            </a>
            <a target="_blank" href="https://turnero-medico.netlify.app/" class="text-white">
                Medical turner
            </a>
            <a target="_blank" href="https://winmuebles.netlify.app/" class="text-white">
                Real estate
            </a>
            <a target="_blank" href="https://app-tarea.netlify.app/" class="text-white">
                Task list
            </a>
            <a target="_blank" href="https://viajesmundo.netlify.app" class="text-white">
                Trips
            </a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <p class="text-white">Thank you for taking the time to view this demo.</p>
        </div>
    </div>

    <div class="mt-3" class="contenedor__information">
        <a target="_blank" href="https://www.linkedin.com/in/matias-nicolas-michelli-37889a123/">
            linkedln profile
        </a>
        <div class="mt-3">
            <a href="./../../../assets/curriculum//curriculum.Matias-Michelli.pdf" download="professional-resume.Matias.Michelli.pdf">
                <button class="btn btn-primary" type="button">Descargar curriculum</button> 
            </a>
        </div>
    </div>
  
</div>
